In [56]:
import pandas as pd
import numpy as np

In [57]:
table = pd.read_csv('sobes.csv')

In [58]:
table

    idx user    item
0     0   AB    meet
1     1   CD     cow
2     2   EF   fresh
3     3   EF   fresh
4     4   GH  cheese
5     5   CD  cheese
6     6   AB    meet
7     7   CD     cow
8     8   CD     cow
9     9   EF   fresh
10   10   GH  cheese
11   11   AB    meet
12   12   EF  cheese
13   13   EF     cow
14   14   CD   fresh
15   15   CD    meet
16   16   AB   fresh
17   17   GH  cheese
18   18   GH     cow
19   19   EF    meet
20   20   AB   fresh
21   21   CD     cow
22   22   GH    meet
23   23   CD  cheese
24   24   AB     cow
25   25   EF   fresh
26   26   CD    meet
27   27   AB     cow
28   28   CD    meet

In [66]:
gr = table.groupby(['user'])['item'].agg(lambda x: x.mode())

In [67]:
gr

user
AB      meet
CD       cow
EF     fresh
GH    cheese
Name: item, dtype: object

In [72]:
def rnd_to_5(num):
    if num % 5 == 0:
        return num
    return num + (5 - num % 5)

In [76]:
rnd_to_5(12)

15

In [4]:
a = 'aaabbcccdde'

In [7]:
def compress(a):
    idx = 1
    cur_letter = a[0]
    cnt = 1
    new_string = []
    while idx < len(a):
        if a[idx] == cur_letter:
            cnt += 1
        else:
            new_string.append(cur_letter)
            new_string.append(cnt)
            cur_letter = a[idx]
            cnt  = 1
        idx += 1
    
    new_string.append(cur_letter)
    new_string.append(cnt)
    return new_string

In [8]:
compress(a)

['a', 3, 'b', 2, 'c', 3, 'd', 2, 'e', 1]